[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Demo repository for HK
[access "refs/*"]
	owner = group user/BasuDeo
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BasuDeo
	label-Verified = -1..+1 group user/BasuDeo
	push = group user/BasuDeo
	read = group user/BasuDeo
	rebase = group user/BasuDeo
	removeReviewer = group user/BasuDeo
	submit = group user/BasuDeo
[access "refs/heads/*"]
	create = group user/BasuDeo
	push = +force group user/BasuDeo
	pushMerge = group user/BasuDeo
	read = group user/BasuDeo
[access "refs/tags/*"]
	push = group user/BasuDeo
	push = +force group user/BasuDeo
